.main{
    border: 2px solid grey;
    width: 400px;
    height: 310px;
    margin: 0 auto;
    background-color:lightgrey;
    border-radius: 5px;
}

.result{
    margin-top: 5px;
    width: 390px;
    height:40px ;
    background-color:skyblue;
color: black;
font-weight: bolder;
font-size:40px;
text-align: center;


}
.clearBtn{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    background-color:lightcoral;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
.Btn{
    width: 95px;
    height: 50px;
    background-color: grey;
    margin: 1px;
    margin-top: 2px;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder
}
.btn{
    width:135px ;
    height: 50px;
    margin-top: 2px;
    background-color: grey;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder
}
 .btn1{
    background-color: orange;
    width:121px ;
    height: 50px;
    margin-top: 2px;
    
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;



 } 



 .cal{

    text-align: center;
    text-shadow: 2px 1px 2px red;
    border: 2px solid grey;
    width: 400px;
margin-left: 474px;
border-radius: 5px;

}